body{
  background-color:#8DB0D9

}

h1{
  color: white;
  text-align: center;
  font-family: monospace;
  margin-top: 20px;
}

.center {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

input[type=text]{
    width:150px;
    border-width: 50px;
    border:10px solid #7C3429;
    border-radius:10px;
    margin:7px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.2s;
    margin-top: 20px;
    margin-bottom: 10px;
  }

input[type=text]:focus{
    border-color: aliceblue;
    box-shadow:0 0 10px 0 aliceblue;
  }

input[type=button]{
    background-color: #3791CC;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    margin-bottom: 20px;
    margin-top: 20px;
  }


form{
  margin-top: 70px;
  background-color: #E7707C;
  border-style: dashed;
  border-width: thick;
  border-radius: 8px;
  border-color: white;

}

p{
  font-family: monospace;
  font-size: 25px;
  font-style: oblique;
  color: #7C3429;
  background-color: #E0A7A1;
  text-align: center;
}

button{
  background-color: #B3DA8C;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: center;
}
